# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc
*.pyo

# Environment Variables
.env

# Streamlit
.streamlit/secrets.toml

# Chroma Database
vectorstore/

# Uploaded Files
data/uploads/

# Logs
logs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

data/uploaded_files/